@font-face {
    font-family: "sseit-Bold";
    src: url(font-family/Larsseit-Bold.otf);
}
@font-face {
    font-family: "Larsseit-Light";
    src: url(font-family/Larsseit-Light.otf);
}
@font-face {
    font-family: "Larsseit-Medium";
    src: url(font-family/Larsseit-Medium.otf);
}
@font-face {
    font-family: "Larsseit-Thin";
    src: url(font-family/Larsseit-Thin.otf);
}
@font-face {
    font-family:"Larsseit-ExtraBold" ;
    src: url(font-family/Larsseit-ExtraBold.otf);
}